<div class="container-fluid">
  
  <div class="row justify-content-center">
    <h1 class="text-center">Price of your wallet through last 24 hours</h1>
  </div>

  <div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels"
      [grid]="chartOptions.grid"
      [stroke]="chartOptions.stroke"
      [title]="chartOptions.title"
    ></apx-chart>
  </div>

    <div class="row justify-content-center">
        <h1 class="text-center">Wallet Details</h1>
    </div>
    
    <div class="card-body">
        <div class="grid-wrapper">
        <ag-grid-angular
            style="width: 100%; height: 100%;"
            [domLayout]="domLayout"
            class="ag-theme-alpine"
            [rowData]="rows"
            [rowSelection]="rowSelection"
            [paginationPageSize]="paginationPageSize"
            [rowGroupPanelShow]="rowGroupPanelShow"
            [rowClassRules]="rowClassRules"
            [enableRangeSelection]="true"
            [pagination]="true"
            [frameworkComponents]="frameworkComponents"
            [columnDefs]="columnDefs">
        </ag-grid-angular>
        </div>
    </div>

    <div class="row justify-content-center">
      <h1 class="text-center">Transaction Details</h1>
    </div>

    <div class="card-body">
      <div class="grid-wrapper">
        <ag-grid-angular
            style="width: 100%; height: 100%;"
            [domLayout]="domLayout"
            class="ag-theme-alpine"
            [rowData]="transactions"
            [rowSelection]="rowSelection"
            [paginationPageSize]="paginationPageSize"
            [rowGroupPanelShow]="rowGroupPanelShow"
            [enableRangeSelection]="true"
            [pagination]="true"
            [rowClassRules]="rowClassRulesTr"
            [frameworkComponents]="frameworkComponents"
            [columnDefs]="columnDefsTr">
        </ag-grid-angular>
      </div>
    </div>

    <div class="row justify-content-center">
      <button mat-raised-button 
            color="primary" 
            style="margin-left: 32px;" 
            aria-label="Add crypto to your wallet"
            (click)="openAddAsset()">
          Add asset
        </button>
      <button mat-raised-button 
          color="primary" 
          style="margin-left: 32px;" 
          aria-label="Add crypto to your wallet"
          (click)="openAddTransaction()">
        Add transaction
      </button>
    </div>

</div>
