<div class="modal-header">
    <h4 class="modal-title">Add to your wallet</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form [formGroup]="addAssetForm">
    <div class="modal-body">
        <div class="row">

            <div class="col">
                <mat-form-field>
                    <mat-label>Symbol</mat-label>
                    <input matInput class="form-control" formControlName="symbol">
                </mat-form-field>
            </div>

            <div class="col">
                <mat-form-field>
                    <mat-label>Exchange</mat-label>
                    <mat-select class="form-control" formControlName="origin">
                        <mat-option *ngFor="let origin of origins" [value]="origin">
                            {{origin}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>    
            </div>
            
        </div>
        <div class="row">

            <div class="col">
                <mat-form-field>
                    <mat-label>Quantity</mat-label>
                    <input matInput type="number" class="form-control" formControlName="qty">
                </mat-form-field>
            </div>

            <div class="col">
                <mat-form-field>
                    <mat-label>Buy Price</mat-label>
                    <input matInput type="number" class="form-control" formControlName="price">
                </mat-form-field>
            </div>

        </div>

    </div>

    <div class="modal-footer">
        <button mat-raised-button 
                color="primary"
                (click)="onSubmit()">Add</button>
        <button mat-raised-button
                color="primary"
                (click)="closeModal()">Cancel</button>
    </div>
</form>