<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Welcome to Crypto Pocket!</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2 class="text-center">This is a website to monitorize your wallet assets.</h2>
        
            <h2 class="text-center">Using our tool you can also simulate auto trading to prove your inversion strategies.</h2>
        
        </div>
    </div>
</div>
