<div>
    <mat-card class="modal-header">
        <mat-card-title>Login</mat-card-title>
        <mat-card-content class="modal-body">
            <form [formGroup]="form" (ngSubmit)="signIn()">
            <p>
                <mat-form-field>
                <input type="text" matInput placeholder="Username" formControlName="username">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                <input type="password" matInput placeholder="Password" formControlName="password">
                </mat-form-field>
            </p>

            <p *ngIf="error" class="error">
                {{ error }}
            </p>

            <div class="button">
                <button type="submit" color="primary" mat-raised-button>Login</button>
            </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>