
<button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
        menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
        close
    </mat-icon>
</button>

  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <h1 class="menu-text">CryptoPocket</h1>

        <mat-divider></mat-divider>
  
        <button mat-button class="menu-button" routerLink="/home">
            <mat-icon color="primary">home</mat-icon>
            <span class="menu-text">Home</span>
        </button>

        <button mat-button class="menu-button" routerLink="/analytics">
            <mat-icon color="accent">insights</mat-icon>
            <span class="menu-text">Analytics</span>
        </button>

        <button mat-button class="menu-button" routerLink="/wallet">
            <mat-icon color="warn">tab</mat-icon>
            <span class="menu-text">Wallet</span>
        </button>
  
        <mat-divider></mat-divider>
  
        <!-- <button mat-button class="menu-button" (click)="onClick('profile')">
            <mat-icon [ngStyle]="{'color':'grey'}">person</mat-icon>
            <span class="menu-text">Profile</span>
        </button> -->

        <button mat-button class="menu-button">
            <mat-icon [ngStyle]="{'color':'yellow'}">help</mat-icon>
            <span class="menu-text">Help</span>
        </button>
  
        <div class="menu-legal-link">
            <button mat-button class="menu-button" routerLink="/terms">
                <span class="menu-text">Terms</span>
            </button>

            <button mat-button class="menu-button" routerLink="/privacy">
                <span class="menu-text">Privacy</span>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
           <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>