mat-toolbar {
    background: #004a9f;
    color: white;
    display: flex;
    flex-direction: row;
}

mat-sidenav {
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(100vh);
    justify-content: center;
    align-items: flex-start;
    font-size: 2rem;
    color: rgb(39, 35, 35);
}

mat-sidenav-container {
    height: 100vh;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}

.mat-icon {
    margin-right: 8px;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

.menu-legal-link {
    position: absolute;
    bottom:   0;
    display: flex;
}

.menu-text {
    font-weight: lighter;
}