<div class="modal-header">
    <h4 class="modal-title">Add to your wallet</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form [formGroup]="addSellForm">
    <div class="modal-body">
        <div class="row">

            <div class="col">
                <mat-form-field>
                    <mat-label>Symbol From</mat-label>
                    <input  matInput
                            class="form-control"
                            formControlName="symbolFrom"
                            [(ngModel)]="symbolFromValue">
                </mat-form-field>
            </div>

            <div class="col">
                <mat-form-field>
                    <mat-label>Symbol To</mat-label>
                    <input matInput class="form-control" formControlName="symbolTo">
                </mat-form-field>
            </div>
            
        </div>
        <div class="row">

            <div class="col">
                <mat-form-field>
                    <mat-label>Buy Price</mat-label>
                    <input  matInput
                            type="number"
                            class="form-control"
                            formControlName="buyPrice"
                            [(ngModel)]="buyPriceValue">
                </mat-form-field>
            </div>

            <div class="col">
                <mat-form-field>
                    <mat-label>Change Price</mat-label>
                    <input matInput type="number" class="form-control" formControlName="changePrice">
                </mat-form-field>
            </div>

        </div>
        <div class="row">

            <div class="col">
                <mat-form-field>
                    <mat-label>Quantity</mat-label>
                    <input  matInput
                            type="number"
                            class="form-control"
                            formControlName="qty"
                            [(ngModel)]="qtyValue">
                </mat-form-field>
            </div>

            <div class="col">
                <mat-form-field>
                    <mat-label>Quantity To</mat-label>
                    <input matInput type="number" class="form-control" formControlName="qtyTo">
                </mat-form-field>
            </div>

        </div>
        <div class="row">

            <div class="col">
                <mat-form-field>
                    <mat-label>Price To</mat-label>
                    <input matInput type="number" class="form-control" formControlName="priceTo">
                </mat-form-field>
            </div>

        </div>

    </div>

    <div class="modal-footer">
        <button mat-raised-button 
                color="primary"
                (click)="onSubmit()">Add</button>
        <button mat-raised-button
                color="primary"
                (click)="closeModal()">Cancel</button>
    </div>
</form>