/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

.light-blue-backdrop {
    background-color: #8498aa;
}

.gain-pl {
    background-color: rgb(84, 172, 49) !important;
}
  
.loss-pl {
    background-color: rgb(224, 86, 86) !important;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
 }

.green-snackbar {
    background: #0ca83bfa;
}

.red-snackbar {
    background: #830d05;
}