<div class="row">
    <div class="col input-combo">
        <mat-form-field>
            <mat-label>Symbol</mat-label>
            <input  matInput
                    [(ngModel)]="symbol"
                    (keyup.enter)="startAnalytics()">
        </mat-form-field>
        <button mat-button (click)="startAnalytics()">
            <mat-icon color="primary">check_circle</mat-icon>
        </button>
    </div>
</div>

<div class="container-fluid">    
    <div class="row">
        <div class="col">
            
        </div>

        <div class="col">
            <div class="card-body">
                <div class="grid-wrapper">
                    <ag-grid-angular
                        style="width: 100%; height: 100%;"
                        [domLayout]="domLayout"
                        class="ag-theme-alpine"
                        [rowData]="rows"
                        [rowSelection]="rowSelection"
                        [paginationPageSize]="paginationPageSize"
                        [rowGroupPanelShow]="rowGroupPanelShow"
                        [enableRangeSelection]="true"
                        [pagination]="true"
                        [rowClassRules]="rowClassRules"
                        [frameworkComponents]="frameworkComponents"
                        [columnDefs]="columnDefs">
                    </ag-grid-angular>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col justify-content-center">Aquí el full Symbol</div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card-body">
                <div class="grid-wrapper">
                  <ag-grid-angular
                      style="width: 100%; height: 100%;"
                      [domLayout]="domLayout"
                      class="ag-theme-alpine"
                      [rowData]="transactions"
                      [rowSelection]="rowSelection"
                      [paginationPageSize]="paginationPageSize"
                      [rowGroupPanelShow]="rowGroupPanelShow"
                      [enableRangeSelection]="true"
                      [pagination]="true"
                      [frameworkComponents]="frameworkComponents"
                      [columnDefs]="columnDefsTr">
                  </ag-grid-angular>
                </div>
              </div>
        </div>
        <div class="col">Aquí nuestro análisis de esto</div>
    </div>
</div>